@font-face {
    font-family: 'Circe Rounded';
    src: url('CirceRounded-ExtraLight.eot');
    src: local('Circe Rounded Extra Light'), local('CirceRounded-ExtraLight'),
        url('CirceRounded-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('CirceRounded-ExtraLight.woff2') format('woff2'),
        url('CirceRounded-ExtraLight.woff') format('woff'),
        url('../Fonts/Circe\Rounded/CirceRounded-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


option{
    color: black;
}


select{
    color: black;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Circe Rounded;
}


.container{
    width: 70% !important;
}




li{
    display: flex;
    align-items: center;
}











.card-url{
    display: flex;
    justify-content: center;
    align-items: center;
}




body {
    background: #E5E5E5;
}


.container{
    width: 70% !important;
}



.navbar-nav {
    justify-content: space-around;
}

.wishlist-icon {
    color: #ED1F24;
}

#navbar-section {
    background-color: #E5E5E5;
}
.responsive-wish{
    display: none;
}
.navbar_item {
    color: #000000;
    text-decoration: none;
}

.navbar_item:hover {
    color: #ED1F24;
    text-decoration: none;
}

#nav-button {
    background: #ED1F24;
    border-radius: 8px;
    border: none;
    outline: none;
    color: white;
    width: 150%;
    height: 30px;
}

#main-div-first-section {
    background-image: url('../assets/images/image\ 21.png');
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

#inner-div-first-section {
    height: 200px;
    background-color: white;
    background: #FFFFFF;
    border-radius: 22px;
}

#first-section-first-row {
    width: 80%;
    margin: 1% auto;
    margin-top: 3%;
}

.search-input-main {
    border-left: 3px solid #ED1F24;
}

 ::placeholder {
    color: black;
}

.search-input {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    outline: none;
}

.search-button {
    width: 100%;
    height: 51px;
    background: #ED1F24;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #FFFFFF;
    margin-top: 1%;
}

.search-button:hover {
    background-color: #640202;
    transition: 0.5s;
}

.search-part-select {
    border: none;
    background-color: transparent;
    width: 80%;
    height: 100%;
    outline: none;
}
.search-select{
    border-left: 3px solid #ED1F24;
}
.col-4 {
    padding: 0;
}

.first-section-inner-row {
    height: 60%;
    margin-top: 1%;
}

#boxes {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr;
}


#first-box {
    background: linear-gradient(180deg, #1B529E 0%, #9EA6B3 100%);
    border-radius: 12px;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/3;
}

#second-box {
    background: linear-gradient(180deg, rgba(109, 211, 255, 0.7) 0%, rgba(199, 238, 255, 0.7) 100%);
    border-radius: 12px;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    grid-row: 2/3;
    grid-column: 1/3;
}

#third-box-main {
    background: linear-gradient(180deg, #FFDE00 0%, rgba(255, 237, 115, 0.67) 100%, rgba(255, 237, 115, 0.67) 100%);
    border-radius: 12px;
    display: flex;
    margin: 0 auto;
    border-radius: 12px;
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    grid-column: 3/5;
    grid-row:1/3;
}

#fourth-box {
    background: linear-gradient(180deg, rgba(199, 22, 22, 0.7) 0%, rgba(255, 131, 131, 0.7) 100%, rgba(255, 131, 131, 0.7) 100%);
    border-radius: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    grid-row: 1/3;
    grid-column: 5/7;
}

#fifth-box {
    background: linear-gradient(180deg, rgba(33, 32, 156, 0.7) 0%, rgba(165, 165, 255, 0.7) 100%);
    border-radius: 12px;
    width: 100%;
    margin-top: 3%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    grid-row: 3/4;
    grid-column: 1/4;
}

#sixth-box {
    background: linear-gradient(180deg, rgba(0, 117, 255, 0.7) 0%, rgba(110, 255, 107, 0.406) 100%);
    border-radius: 12px;
    width: 100%;
    height: 200px;
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 1%;
    grid-column: 4/7;
    grid-row: 3/4;
}

#markalar-section {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#markalar-title {
    color: #ED1F24;
    margin-top: 15%;
    text-align: center;
}
#vip-title{
    color: #ED1F24;
    margin-top: 15%;
    text-align: center; 
}

#markalar-main-div {
    width: 80%;
}

#markalar-cards {
    width: 100%;
    margin: 0 auto;
}

.markalar-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 5px;
    background: #E9E9E9;
    border-radius: 12px;
    margin-top: 15px;
    height: 90%;

}

.markalar-img {
    max-width: 100%;
    height: 150px;
}

.card-title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #2E3A59;
}

.card-button {
    border: 1px solid #2E3A59;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #2E3A59;
    width: 100px;
    height: 25px;
}

.card-button:hover {
    background-color: #2E3A59;
    color: white;
    transition: 0.4s;
}

#image-section {
    max-height: 1500px;
}

#image-first {
    text-align: end;
}

#image-second {
    margin-top: -40%;
}

#hisseler-section {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#hisseler-title {
    color: #ED1F24;
    margin-top: 15%;
    text-align: center;
}

#hisseler-main-div {
    width: 80%;
}

#hisseler-cards {
    width: 100%;
}

.hisseler-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background: #E9E9E9;
    border-radius: 12px;
    margin-top: 15px;
}

.hisseler-img {
    max-width: 100px;
}

.hisseler-title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #ED1F24;
}

.hisseler-desc {
    font-size: 12px;
    line-height: 14px;
    color: #ED1F24;
}

.hisseler-button {
    background: #ED1F24;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    width: 100px;
    height: 25px;
}

.hisseler-button:hover {
    background-color: #640202;
    color: #FFFFFF;
    transition: 0.4s;
}

.all-parts-button {
    background: #ED1F24;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    border: none;
    color: white;
    outline: none;
}

.all-parts-button:hover {
    background-color: #640202;
    transition: 0.5s;
}

#long-cards-section {
    text-align: center;
    margin-top: 8%;
}

#long-cards-main {
    width: 100%;
}

#long-cards {
    width: 80%;
    margin: 0 auto;
}

.long-img {
    width: 100%;
}

.long-card {
    padding: 0;
}

.long-card:hover {
    margin-top: -2%;
    transition: 0.5s;
    border-left: 10px solid #ED1F24;
}
#contact-section {
    margin-top: 15%;
    max-height: 800px;
    margin-bottom: 10%;
}

#contact-main {
    width: 80%;
    margin: 0 auto;
}

.contact-title {
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 38px;
    color: #9C9C9C;
}

.contact-desc {
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 38px;
    color: #000000;
}

#contact-form {
    position: relative;
    background: rgba(255, 21, 21, 0.77);
    border-radius: 20px;
}

#contact-img {
    position: absolute;
    left: 0;
    width: 60%;
    transform: translateY(-20%);
}

#contact-form-text {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

#contact-button {
    background: #EFEFFB;
    border-radius: 12px;
    border: none;
    outline: none;
    color: black;
    width: 100%;
    height: 40px;
}

.contact-input {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid white;
}


.incard{
    background: #FFFFFF;
    padding: 0 45px 0 45px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    justify-content: center;
    
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 12px;
}


.fa-heart{
    position: absolute;
    left: 20px;
    top: 20px;
    color: grey;
    font-size: 25px;
}

.vip{
    position: absolute;
    right: 20px;
    top: 20px;
    color: grey;
    width: 30px !important;
    height: 30px !important;
}

.wish{
    color: grey;
}
.unwish{
    color: #C70E0E;
}


.incard img{
    width: 80%;
    height: 180px;
}
.incard button{
    background: #C70E0E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    height: 40px;
    width: 100%;
}


.card-item{
    height: 360px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 992px){
    #contact-img {
        position: absolute;
    left: 0;
    width: 65%;
    height: 150%;
    transform: translateY(-15%);
    }
}




#footer {
    width: 100%;
    background-color: #1B1B1B;
    background-image: url("../assets/images/image-removebg-preview\ \(27\)\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#footer-main {
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
}

ul {
    list-style-type: none;
}

.footer-li {
    color: white;
}
.sale-percent{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #C70E0E;
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sale-span{
    color: white;
    font-size: 15px;
}
.saler{
    color: #C70E0E;
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
}
.satici{
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
}
.incard{
    background: #FFFFFF;
    padding: 0 45px 0 45px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    justify-content: center;
    
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 12px;
}
.incard p{
    font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
}





@media only screen and (max-width: 992px) {
    
    #contact-img {
        position: absolute;
        left: 0;
        width: 60%;
        transform: translateY(-20%);
    }
    #contact-section {
        margin-top: 15%;
        height: 800px;
        margin-bottom: 10%;
    }
    .row-div{
        flex-direction: column-reverse;
    }
    #contact-form {
        position: relative;
        background: rgba(255, 21, 21, 0.77);
        border-radius: 20px;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
    }
    #contact-button {
        background: #EFEFFB;
        border-radius: 12px;
        border: none;
        outline: none;
        color: black;
        width: 100%;
        height: 40px;
        margin-top: 5%;
    }
    .no-wish{
        display: none;
    }
    #first-section-first-row {
        margin-top: 7%;
    }
    .responsive-wish{
        display: block;
    }
    #boxes {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows:1fr 1fr;
    }
    
    .box_img{
        width: 100%;
    }
    #first-box {
        background: linear-gradient(180deg, #1B529E 0%, #9EA6B3 100%);
        border-radius: 12px;
        width: 95%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1/2;
        grid-column: 1/3;
    }
    #second-box {
        background: linear-gradient(180deg, rgba(109, 211, 255, 0.7) 0%, rgba(199, 238, 255, 0.7) 100%);
        border-radius: 12px;
        width: 95%;
        height: 95%;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1/2;
        grid-column: 3/5;
    }
    #third-box-main {
        background: linear-gradient(180deg, #FFDE00 0%, rgba(255, 237, 115, 0.67) 100%, rgba(255, 237, 115, 0.67) 100%);
        border-radius: 12px;
        display: flex;
        margin: 0 auto;
        border-radius: 12px;
        width: 95%;
        height: 95%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        grid-column: 5/7;
        grid-row:1/2;
    }
    #fourth-box {
        background: linear-gradient(180deg, rgba(199, 22, 22, 0.7) 0%, rgba(255, 131, 131, 0.7) 100%, rgba(255, 131, 131, 0.7) 100%);
        border-radius: 12px;
        width: 95%;
        height: 95%;
        display: flex;
        justify-content: center;
        grid-row: 2/3;
        grid-column: 1/3;
    }
    
    #fifth-box {
        background: linear-gradient(180deg, rgba(33, 32, 156, 0.7) 0%, rgba(165, 165, 255, 0.7) 100%);
        border-radius: 12px;
        width: 95%;
        margin-top: 0;
        height: 95%;
        display: flex;
        justify-content: center;
        grid-row: 2/3;
        grid-column: 3/5;
    }
    
    #sixth-box {
        background: linear-gradient(180deg, rgba(0, 117, 255, 0.7) 0%, rgba(110, 255, 107, 0.406) 100%);
        border-radius: 12px;
        width: 95%;
        height: 95%;
        margin-top: 0;
        display: flex;
        justify-content: center;
        margin-left: 1%;
        grid-column: 5/7;
        grid-row: 2/3;
    }
    .marka-card:nth-child(7){
        display: none;
    }
    .marka-card:nth-child(8){
        display: none;
    }
    .hisse-kart:nth-child(7){
        display: none;
    }
    .hisse-kart:nth-child(8){
        display: none;
    }
    .long-card:nth-child(4){
        display: none;
    }
    .long-card:nth-child(5){
        display: none;
    }
    .long-card:nth-child(6){
        display: none;
    }
    .navbar-nav{
        text-align: center;
    }
    #nav-button{
        width: 100%;
    }
    .nav-item{
    border-bottom: 2px #ED1F24 solid;
    margin: 20px;
    }
    .markalar-img {
        max-width: 100%;
        height: 100px;
    }
}


@media only screen and (max-width: 768px) {


    /* reklam responsive */

    .card-button {
        width: 90%;
        margin: 0 auto;
    }


#reklam-banner-left-side-main-page{
    width: 15%;
    height: 50vh;
    position: absolute;
    
}
#reklam-banner-right-side-main-page{
    width: 15%;
    height: 50vh;
    position: absolute;
    right: 0;

}




    #contact-img {
        position: absolute;
        left: 0;
        width: 60%;
        transform: translateY(-20%);
        display: none;
    }
    #contact-section {
        margin-top: 15%;
        height: 800px;
        margin-bottom: 10%;
    }
    .row-div{
        flex-direction: column-reverse;
    }
    #contact-form {
        position: relative;
        background: rgba(255, 21, 21, 0.77);
        border-radius: 20px;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
    }
    #contact-button {
        background: #EFEFFB;
        border-radius: 12px;
        border: none;
        outline: none;
        color: black;
        width: 100%;
        height: 40px;
        margin-top: 5%;
    }
    #contact-form-text {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 80%;
        margin: 5% auto;
    }
    .no-wish{
        display: none;
    }
    #boxes {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows:1fr 1fr 1fr;
    }
    
    .box_img{
        width: 100%;
    }
    #first-box {
        background: linear-gradient(180deg, #1B529E 0%, #9EA6B3 100%);
        border-radius: 12px;
        width: 95%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1/2;
        grid-column: 1/4;
    }
    #second-box {
        background: linear-gradient(180deg, rgba(109, 211, 255, 0.7) 0%, rgba(199, 238, 255, 0.7) 100%);
        border-radius: 12px;
        width: 95%;
        height: 95%;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1/2;
        grid-column: 4/7;
    }
    #third-box-main {
        background: linear-gradient(180deg, #FFDE00 0%, rgba(255, 237, 115, 0.67) 100%, rgba(255, 237, 115, 0.67) 100%);
        border-radius: 12px;
        display: flex;
        margin: 0 ;
        border-radius: 12px;
        width: 95%;
        height: 95%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        grid-column: 1/4;
        grid-row:2/3;
    }
    #fourth-box {
        background: linear-gradient(180deg, rgba(199, 22, 22, 0.7) 0%, rgba(255, 131, 131, 0.7) 100%, rgba(255, 131, 131, 0.7) 100%);
        border-radius: 12px;
        width: 95%;
        height: 95%;
        display: flex;
        justify-content: center;
        grid-row: 2/3;
        grid-column: 4/7;
    }
    
    #fifth-box {
        background: linear-gradient(180deg, rgba(33, 32, 156, 0.7) 0%, rgba(165, 165, 255, 0.7) 100%);
        border-radius: 12px;
        width: 95%;
        margin-top: 0;
        height: 95%;
        display: flex;
        justify-content: center;
        grid-row: 3/4;
        grid-column: 1/4;
    }
    
    #sixth-box {
        background: linear-gradient(180deg, rgba(0, 117, 255, 0.7) 0%, rgba(110, 255, 107, 0.406) 100%);
        border-radius: 12px;
        width: 95%;
        height: 95%;
        margin-top: 0;
        display: flex;
        justify-content: center;
        margin-left: 0;
        grid-column: 4/7;
        grid-row: 3/4;
    }

    #inner-div-first-section {
        height: 400px;
        background-color: white;
        background: #FFFFFF;
        border-radius: 22px;
        width: 80%;
    }
    #first-section-first-row {
        width: 80%;
        margin: 1% auto;
        height: 100%;
    }
    .search-select {
        border-left: 3px solid #ED1F24;
        margin-bottom: 2%;
    }
    .search-input-main {
        border-left: 3px solid #ED1F24;
        margin-bottom: 2%;
    }
    .markalar-card{
        padding: 20px 5px;
        height: 90%;
    }
    .markalar-texts{
        width: 100%;
    }
    .marka-card:nth-child(7){
        display: none;
    }
    .marka-card:nth-child(8){
        display: none;
    }
    .hisse-kart:nth-child(7){
        display: none;
    }
    .hisse-kart:nth-child(8){
        display: none;
    }
    .navbar-nav{
        text-align: center;
    }
    #nav-button{
        width: 100%;
    }
    .nav-item{
    border-bottom: 2px #ED1F24 solid;
    margin: 20px;
    }
    .long-card:nth-child(4){
        display: none;
    }
    .long-card:nth-child(5){
        display: none;
    }
    .long-card:nth-child(6){
        display: none;
    }
    .markalar-img {
        max-width: 100%;
        height: 100px;
    }
}




a{
    color: #ED1F24;
    text-decoration: none;

}
a :hover{
    color: #FFC000;
}













/* reklamlar */


#reklam-banner-left-side-main-page{
    width: 15%;
    height: 100vh;
    position: absolute;
    
}
#reklam-banner-right-side-main-page{
    width: 15%;
    height: 100vh;
    position: absolute;
    right: 0;

}
#reklam-banner-top-section{
    width: 100%;
}

#reklam-banner-top{
    height: 180px;
    width: 100%;
}



#reklam-banner-bottom-section{
    width: 100%;
}

#reklam-banner-bottom{
    height: 180px;
    width: 100%;
}

