@font-face {
    font-family: 'Circe Rounded';
    src: url('CirceRounded-ExtraLight.eot');
    src: local('Circe Rounded Extra Light'), local('CirceRounded-ExtraLight'),
        url('CirceRounded-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('CirceRounded-ExtraLight.woff2') format('woff2'),
        url('CirceRounded-ExtraLight.woff') format('woff'),
        url('../Fonts/Circe\Rounded/CirceRounded-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


*{
    font-family: Circe Rounded;
}





/* reklam */


#reklam-banner-top-section{
    width: 100%;
}

#reklam-banner-top{
    height: 180px;
    width: 100%;
}



#reklam-banner-bottom-section{
    width: 100%;
}

#reklam-banner-bottom{
    height: 180px;
    width: 100%;
}


#reklam-banner-left-side-subparts-page{
    width: 15%;
    height: 70vh;
    position: absolute;
    
}
#reklam-banner-right-side-subparts-page{
    width: 15%;
    height: 70vh;
    position: absolute;
    right: 0;

}



body{
    background: #E5E5E5;
}
.container{
    width: 70% !important;
}

#subparts-main{
    width: 70%;
    margin: 0 auto;
}

.sub-parts-title{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    
}
.sub-parts-inner{
    margin: 5%;
}
.sub-parts-a{
    text-decoration: none;
    color: #ED1F24;
}

.sub-parts-a:hover{
    color: #ED1F24;
}
.sub-parts-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



a{
    color: #ED1F24;
    text-decoration: none;

}
a :hover{
    color: #FFC000;
}