@font-face {
    font-family: 'Circe Rounded';
    src: url('CirceRounded-ExtraLight.eot');
    src: local('Circe Rounded Extra Light'), local('CirceRounded-ExtraLight'),
        url('CirceRounded-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('CirceRounded-ExtraLight.woff2') format('woff2'),
        url('CirceRounded-ExtraLight.woff') format('woff'),
        url('../Fonts/Circe\Rounded/CirceRounded-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


*{
    font-family: Circe Rounded;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* reklam */


#reklam-banner-top-section{
    width: 100%;
}

#reklam-banner-top{
    height: 180px;
    width: 100%;
}



#reklam-banner-bottom-section{
    width: 100%;
}

#reklam-banner-bottom{
    height: 180px;
    width: 100%;
}


#reklam-banner-left-side-wislist-page{
    width: 15%;
    height: 70vh;
    position: absolute;
    
}
#reklam-banner-right-side-wislist-page{
    width: 15%;
    height: 70vh;
    position: absolute;
    right: 0;

}



.container{
    width: 60% !important;
}
body{
    background-color: #E5E5E5 !important;
}
.cart{
    height: 250px;
    
}

.img-div{
    width: 40%;
    padding: 20px;
    background-color: #E5E5E5;
    height: 80%;
display: flex;
align-items: center;
}
.img-div img{
    width: 100%;
}
.cart-text{
    width: 60%;
    margin-bottom: 100px;
}
.incart{
    height: 100%;
    display: flex;
    align-items: center;
    
    padding: 0 20px 0 20px;
    background-color: white;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title{
    font-weight: 500;
font-size: 23px;
line-height: 27px;
    font-style:normal;
}
.price{
    color: red;
    font-size: 22px;
}
.valyuta{
    color: red;
    margin-left: 10px;
}
.x-button{
    position: absolute;
    right: 20px;
    top: 20px;
    color: red;
    font-size: 22px;
}

@media only screen and (max-width: 990px) {
   .img-div{
       width: 60%;
       padding: 15px;
   }
  }

  @media only screen and (max-width: 768px) {
    .img-div{
        width: 60%;
        padding: 10px;
    }
    .title{
        font-size: 15px;
    }
   }



   a{
    text-decoration: none;
    color: #ED1F24;
}
a :hover{
    color: #FFC000;
}